.main {
    background: var(--white-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 475px;
    position: relative;
    top: 30px;
}

h1 {
    padding: 30px;
}

h1, h3 {
    color: black;
    width: 90%;
    text-align: left;
}

.text, text:focus {
    background: var(--white-2);
    outline: 0;
    border: 0;
    width: 425px;
    height: 30px;
    padding: 20px;
    border-bottom: 1px solid var(--grey-1);
    margin: 10px;
}

.button-wrapper {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.button, .button:focus {
    width: 50%;
    height: 60px;
    outline: 0;
    border: 0;
    color: var(--white-1);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: .2s;
}

.generate {
    background: var(--blue-1);
}

.generate:hover {
    background: var(--blue-2);
}

.cancel {
    background: var(--blue-3);
}

.cancel:hover {
    background: var(--blue-4);
}

.key {
    text-align: left;
    background: var(--white-2); 
    padding: 10px 20px;
    width: 400px;
    border-bottom: 1px solid var(--grey-1);
}

.warning {
    width: 425px;
    margin: 20px;
}

/* Change navbar for desktop */
@media screen and (min-width: 1024px) { 
    .hamburger {
        display: none;
    }
  
    .navbar ul {
        display: flex;
    }
  }