table {
    background: var(--white-1);
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 450px;
    overflow: auto;
}

tr:nth-child(odd) {
    background: var(--white-2);
}

th, td {
    padding: 15px 20px; 
}

th {
    background: var(--blue-2);
    color: var(--white-1);
}


/* Change navbar for desktop */
@media screen and (min-width: 800px) { 
    .hamburger {
        display: none;
    }
  
    .navbar ul {
        display: flex;
    }
    
    table {
        max-width: 800px;
    }
  }