.main-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 50px 0;
}

.i-wrapper {
    background: var(--blue-4);
    color: var(--white-1);
    font-size: 175px;
    height: 275px;
    width: 275px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.text {
    border: none;
    border-bottom: 2px solid var(--blue-1);
    padding: 10px;
}

.text:focus {
    outline: 2px solid var(--blue-1);
}

.button {
  padding: 10px 45px;
  margin-top: 40px;
  background: var(--blue-2);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
  transition: .2s;
}

.button:hover {
    background: var(--blue-3);
}

p a {
    cursor: pointer;
    color: var(--orange-1);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
