h1 {
    color: var(--grey-1);
    max-width: 60vw;
    text-align: center;
    padding-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lang-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

select, select:focus {
    margin: 5px;
    padding: 5px;
    outline: 0;
}

.fa-exchange-alt {
    color: var(--grey-1);
}

textarea, textarea:focus {
    width: 335px;
    height: 150px;
    padding: 10px;
    margin: 15px;
    background: var(--white-1);
    resize: none;
    outline: 0;
    border: 0;
    outline: 1px solid var(--grey-1);
    font-size: 15px;
}

input {
    padding: 10px 50px;

}

input:hover {
    padding: 10px 45px;
}


/* Change navbar for desktop */
@media screen and (min-width: 1024px) { 
    .hamburger {
        display: none;
    }
  
    .navbar ul {
        display: flex;
    }
  
    .input-wrapper {
        flex-direction: row;
    }

    .fa-exchange-alt {
        display: block;
        padding: 10px;
    }

    textarea, textarea:focus {
        height: 345px;
    }
  }